/*index kode*/

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

:root{
--background: #000;
--text:#FFF;
--highlight:#FF1EAD;
}

body {
    background: #fbcac1;
    color: #bb7a7f;
    font-family: 'Oswald', sans-serif;

}

h1{
    margin-left: 25px;
    margin-top: 10px;
}

/*nameDrop*/




/*menyIndex css*/
.navigationIndex {
    display: flex;
    justify-content: center;   /*legger innhold i midten*/
}
.navigationIndex ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
     overflow: hidden;
    background-color: #fbcac1;;
    width:50%;
    text-transform: uppercase;


}

.navigationIndex li{
    font-size: 35px;
    text-align: center;
    float: left;
    width: 33.2%;
    margin-top: 200px;
}

.bilde{
    width:400px
}


.navigationIndex li a {
    display: block;
    color:#bb7a7f;
    padding: 8px 16px;
    text-decoration: none;
    text-align : center;
}

/* Change the link color on hover */
.navigationIndex li a:hover {
    transition: 0.3s transform ease, 0.5s;
    border-bottom: 5px solid white;


}

.navigationIndex li a.active {
    background-color: #4CAF50;
    color: white;
}



.navigationIndex li:last-child{
    border-bottom: none;
}

/*menyDiv css*/
.navigationDiv {
    display: flex;

}

.navigationDiv ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fbcac1;;
    width:20%;
    text-transform: uppercase;
    margin-right: 10px;

}

.navigationDiv li{
    font-size: 20px;
    text-align: center;
    float: left;
    width: auto;
}

.navigationDiv li a {
    display: block;
    color:#bb7a7f;
    padding: 8px 16px;
    text-decoration: none;
    text-align : center;
}

/* Change the link color on hover */
.navigationDiv li a:hover {

    border-bottom: 5px solid white;



}

.navigationDiv li a.active {
    background-color: black;
}




.navigationDiv li:last-child{
    border-bottom: none;
}


/*registration*/
.register-form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
}


/*bear*/
.container,
.ear, .face, .inner, .eye, .snout {
    position: absolute;
}

.container {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 100px;
}

.ear {
    top: -5px;
    left: -2px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background:  #916953;
}

.ear.right {
    transform: translateX(120px);
}

.face {
    width: 200px;
    height: 190px;
    border-radius: 100%;
    background:  #916953;
}

.inner {
    top: 8px;
    left: 10px;
    width: 50px;
    height: 50px;
    background:  #FCB5B5;
    border-radius: 1000%;
}

.inner.right {
    left: 16px;
}

.eye {
    top: 100px;
    left: 70px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #000;
}

.eye.right {
    transform: translateX(60px);
}

.snout {
    top: 110px;
    left: 80px;
    width: 50px;
    height: 45px;
    background: #FDCFCF;
    border-radius: 100%;
}

.nose {
    position: absolute;
    top: 4px;
    left: 16px;
    width: 15px;
    height: 7px;
    background: #333;
    border-radius: 100%;
}

.bridge {
    position: absolute;
    top: 10px;
    left: 23px;
    width: 2px;
    height: 13px;
    background: #333;
}

.mouth {
    position: absolute;
    width: 10px;
    height: 5px;
    border-radius: 0% 0% 100% 100%;
    border-bottom: 2px solid;
    top: 17px;
    left: 18px;
}

.paci {
    position: absolute;
    top: 19px;
    left: 12px;
    width: 27px;
    height: 18px;
    background: #7FB7BE;
    border-radius: 20px;
}

.mid {
    position: absolute;
    top: 3px;
    left: 7px;
    width: 12px;
    height: 12px;
    background: #F05D5E;
    border-radius: 20px;
}

.ring {
    position: absolute;
    top: 5px;
    left: 6px;
    width: 12px;
    height: 12px;
    border: 2px solid #F05D5E;
    border-radius: 20px;
}